
@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: Trebuchet MS, Arial, sans-serif;
    font-weight: normal;
    color: #181818;
}

.banniere_image
{
    width: 1050px;
    height: 150px;
    background: url(../images/alaska_image_5.jpg) no-repeat;
}


.pagination, .continuer, .adminForm, .emptyComment, .comment p, h1, h2, h3
{
    text-align:center;
}

h2, h3, nav a, .user, .continuer, .pagination a
{
    font-family: dayrom, serif;
    font-weight: normal;
}

 h1
{
    font-size: 1.6em;
}

 h2
{
    font-size: 1.1em;
}

h3
{
    background-color: grey;
    color: white;
    font-size: 1.2em;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.news, .comment
{
    background-color: #CCCCCC;
    padding-bottom: 10px;
}

.postUnique, .postExtrait
{
    padding-left: 12px;
    padding-right: 12px;
}

footer
{
    background-color: grey;
    padding-top: 25px;
    padding-bottom: 25px;
}

.signaler
{
   text-align: right;
   padding-right: 12px;
   padding-bottom: 12px;
}

.pagination
{
   margin-top: 50px;
   margin-bottom: 50px;
}

.page_num_active
{
    background-color :#CCCCCC;
    color: black;
    border: 7px solid #CCCCCC;    
}
  
.commentForm
{
    background-color: #CCCCCC;
    margin-bottom: 100px;
    padding-bottom: 3px;
    text-align: center;
}

.login, .error
{
    margin-top: 250px;
    text-align: center;
}

a
{
    text-decoration: none;
    color: blue;
}

 table, td, th 
{
    border: 1px solid black;
}
      
 table 
{
    width: 92%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    border-collapse: collapse;
}

table th
{
    background-color: grey;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
}
      
 td 
{
    padding: 8px;
}

 .admin_wrap
{
    width: 1050px;
    margin: auto;
    display: flex;
    flex-direction: column; 
}

.public_wrap
{
    width: 1050px;
    margin: auto;
} 

.public_wrap ul
{
    justify-content: space-between;
} 

nav ul
{
    list-style-type: none;
    display: flex;
} 

 .admin_wrap li
{
    margin-right: 30px;
}

tr:hover  td, a:hover{
    background-color: yellowgreen;
    color: white;
}

.user
{
    margin-left: -40px;
}

.my_form
{
   width: 50%;
}

.mentionsLegales
{
    margin-right: 30px;
}

.static
{
    text-align: justify;
    padding: 12px;
    margin-bottom: 80px;
    background-color: #CCCCCC;
}


@media all and (max-width: 1024px)
{
    nav
    {
        width: auto;
        text-align: center;
    }
    
    nav ul
    {
        flex-direction: column;
        margin-right: 40px;
    } 
    
    .admin_wrap nav ul
    {
        margin-right: 0px;
    } 

    .user
    {
        margin-left: 0px;
    }


    h1
    {
        font-size: 1.3em;
    }
    
    .my_form
    {
        width: 90%;
    }

    table
    {
        width: 100%;
    }

     .admin_wrap, .public_wrap
    {
        width: auto;
    } 

    .postUpdateDate, .comment_date, .banniere_image
    {
        display: none;
    }

    .mentionsLegales
    {
        margin-right: 0px;
    }

}

