@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: Trebuchet MS, Arial, sans-serif;
    font-weight: normal;
    color: #181818;
}


.pagination, .continuer, .adminForm, h1, h2, h3, .emptyComment, .comment p
{
    text-align:center;
}

h3
{
    background-color: grey;
    color: white;
    font-size: 1.1em;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.news, .comment
{
    background-color: #CCCCCC;
    padding-bottom: 10px;
}

.postUnique, .postExtrait
{
    padding-left: 12px;
    padding-right: 12px;
}

footer
{
    background-color: grey;
    padding-top: 50px;
    padding-bottom: 50px;
}

.signaler
{
   text-align: right;
   padding-right: 12px;
   padding-bottom: 12px;
}

.pagination
{
   margin-top: 50px;
   margin-bottom: 50px;
}

.page_num_active
{
    background-color :#CCCCCC;
    color: black;
    border: 7px solid #CCCCCC;    
}
  
.commentForm
{
    background-color: #CCCCCC;
    margin-bottom: 100px;
    padding-bottom: 3px;
    text-align: center;
}

.login, .error
{
    margin-top: 250px;
    text-align: center;
}

a
{
    text-decoration: none;
    color: blue;
}

 table, td, th 
{
    border: 1px solid black;
}
      
 table 
{
    width: 92%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    border-collapse: collapse;
}
      
 td 
{
    padding: 3px;
}

 .admin_wrap
{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column; 
}

.public_wrap
{
    width: 70%;
    margin: auto;
} 

.public_wrap ul
{
    justify-content: space-between;
} 

nav ul
{
    list-style-type: none;
    display: flex;
} 

 .admin_wrap li
{
    margin-right: 30px;
}

tr:hover  td, a:hover{
    background-color: yellowgreen;
    color: white;
}

.user
{
    margin-left: -40px;
}

.my_form
{
   width: 50%;
}

 h1
{
    font-size: 1.6em;
}

 h2
{
    font-size: 1em;
}

@media all and (max-width: 1024px)
{
    nav
    {
        width: auto;
        text-align: center;
    }
    
    nav ul
    {
        flex-direction: column;
        margin-right: 50px;
    } 
    
    .user
    {
        margin-left: 0px;
    }


    h1
    {
        font-size: 1.3em;
    }
    
    .my_form
    {
        width: 90%;
    }

     .admin_wrap, .public_wrap, table
    {
        width: 100%;
    } 

}

